<section class='competitions'>
  <h2 class='competitions__header'>Компетенции</h2>
  <ul class='competitions__list'>
    <li class='competitions__item competitions__item--analize'>
      <h3 class='competitions__title competitions__title--analize'>Анализ защищенности</h3>
      <h4 class='competitions__subtitle'>В сфере информационной безопасности</h4>
      <p class='competitions__desc'>Тестирование на проникновение корпоративных сетей, систем и приложений</p>
      <button class='btn competitions__btn'>Подробнее</button>
    </li>
    <li class='competitions__item competitions__item--learning'>
      <h3 class='competitions__title competitions__title--learning'>Обучающие программы</h3>
      <h4 class='competitions__subtitle'>В сфере информационной безопасности</h4>
      <p class='competitions__desc'>Задания по взлому и защите  в условиях, приближенных к реальным</p>
      <button class='btn competitions__btn'>Подробнее</button>
    </li>
    <li class='competitions__item competitions__item--save'>
      <h3 class='competitions__title competitions__title--save'>Разработка программного обеспечения</h3>
      <h4 class='competitions__subtitle'>В сфере информационной безопасности</h4>
      <p class='competitions__desc'>ПО для специалистов в области тестирования на проникновения</p>
      <button class='btn competitions__btn'>Подробнее</button>
    </li>
    <li class='competitions__item competitions__item--search'>
      <h3 class='competitions__title competitions__title--search'>Разработка авторских подходов и методик</h3>
      <h4 class='competitions__subtitle'>В сфере информационной безопасности</h4>
      <p class='competitions__desc'>Хакерские лаборатории, имитирующие IT-структуру реальных компаний</p>
      <button class='btn competitions__btn'>Подробнее</button>
    </li>
  </ul>
</section>
