<section class='feedback'>
  <h2 class='feedback__header'>Связаться с нами</h2>
  <form action='#' class='feedback__form'>
    <p class='feedback__item'>
      <label for='feedback__name' class='visually-hidden'>Представьтесь</label>
      <input type='text' name='feedback__name' id='feedback__name' placeholder='Представьтесь'>
    </p>
    <p class='feedback__item'>
      <label for='feedback__email' class='visually-hidden'>Адрес электронной почты</label>
      <input type='email' name='feedback__email' id='feedback__email' placeholder='Адрес электронной почты'>
    </p>
    <p class='feedback__item'>
      <label for='feedback__phone' class='visually-hidden'>Контактный телефон</label>
      <input type='phone' name='feedback__phone' id='feedback__phone' placeholder='Контактный телефон'>
    </p>
    <p class='feedback__item'>
      <input type='checkbox' name='feedback__agree' id='feedback__agree'>
      <label class='feedback__agree' for='feedback__agree'>Принимаю <a class='feedback__link' href='#'>соглашение</a> об использовании персональных данных</label>
    </p>
    <button class='btn feedback__btn'>Отправить</button>
  </form>
</section>
