<footer class='footer'>
  <div class='footer_develper'>
    <span class='footer__year'>2018</span>
    <span class='footer__company'>T. Hunter — Информационная безопасность</span>
  </div>
  <div class='footer_develper'>
    <span class='footer__info'>Разработка и внедрение —  </span>
    <span class='footer__dev'>media bay</span>
  </div>
  <div class='footer_develper'>
    <span class='footer__info'>Дизайн —  </span>
    <span class='footer__design'></span>
  </div>
</footer>
<script src="js/main.js"></script>
</body>
</html>
