<footer class='footer'>
  <div class='footer_develper'>
    <span class='footer__year'>2018</span>
    <span class='footer__company'>T. Hunter — Информационная безопасность</span>
  </div>
  <div class='footer_develper'>
    <span class='footer__info'>Разработка и внедрение —  </span>
    <span class='footer__dev'>media bay</span>
  </div>
</footer>
<div class='modal-mask'>
  <section class='modal'>
    <h2 class='modal__header'> Заявка принята </h2>
    <p class='modal__text'> Спасибо за ваш выбор! Специалист T.Hunter свяжется с вами в ближайшее время</p>
    <button class='modal__close'>Закрыть</button>
  </section>
</div>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="js/main.js"></script>
</body>
</html>
