<section class='invitation'>
  <h2 class='invitation__header'>Пригласить специалиста</h2>
  <form type='POST' class='invitation__form'>
    <p class='invitation__item'>
      <label for='invitation__name' class='visually-hidden'>Представьтесь</label>
      <input type='text' name='invitation__name' id='invitation__name' placeholder='Представьтесь' required>
    </p>
    <p class='invitation__item'>
      <label for='invitation__email' class='visually-hidden'>Адрес электронной почты</label>
      <input type='email' name='invitation__email' id='invitation__email' placeholder='Адрес электронной почты' required>
    </p>
    <p class='invitation__item'>
      <label for='invitation__phone' class='visually-hidden'>Контактный телефон</label>
      <input type='tel' name='invitation__phone' id='invitation__phone' placeholder='Контактный телефон' required>
    </p>
    <p class='invitation__item'>
      <input type='checkbox' name='invitation__agree-2' id='invitation__agree-2' required >
      <label class='invitation__agree' for='invitation__agree-2'>Принимаю <a class='invitation__link' href='#'>соглашение</a> об использовании персональных данных</label>
    </p>
    <button class='btn invitation__btn' id='invitation'>Отправить</button>
  </form>
</section>
