<section class='partners'>
  <h2 class='partners__header'>Нам доверяют</h2>
  <div class='partners__lead'>
    <p>
      Мы обеспечиваем надежную защиту персональных и корпоративных данных, находим оптимальные IT-решения  с учетом особенностей бизнес-сферы клиента и обеспечиваем постоянную поддержку.
    </p>
    <p>
      Количество наших партнеров постоянно растет — это говорит о высоком уровне ответственности специалистов T. Hunter  и об оперативном решении технических вопросов.
    </p>
  </div>
  <ul class='partners__info'>
    <li class='partners__counts'>
      <span class='partners__count'>15</span>
      <p class='partners__text'>
        Предотвратили утечек информации
      </p>
    </li>
    <li class='partners__counts'>
      <span class='partners__count'>24</span>
      <p class='partners__text'>
        Разработали ПО в сфере информационной безопасности
      </p>
    </li>
    <li class='partners__counts'>
      <span class='partners__count'>21</span>
      <p class='partners__text'>
        Протестировали корпоративных сетей
      </p>
    </li>
    <li class='partners__counts'>
      <span class='partners__count'>8</span>
      <p class='partners__text'>
        Провели обучающих мероприятий
      </p>
    </li>
  </ul>
  <ul class='partners__logos'>
    <li class='partners__logo'>
      <span class='visually-hidden'>Partner name</span>
      <img  src='' alt='' width="120" height="60">
    </li>
    <li class='partners__logo'>
      <span class='visually-hidden'>Partner name</span>
      <img  src='' alt=''>
    </li>
    <li class='partners__logo'>
      <span class='visually-hidden'>Partner name</span>
      <img  src='' alt=''>
    </li>
    <li class='partners__logo'>
      <span class='visually-hidden'>Partner name</span>
      <img  src='' alt=''>
    </li>
    <li class='partners__logo'>
      <span class='visually-hidden'>Partner name</span>
      <img  src='' alt=''>
    </li>
    <li class='partners__logo'>
      <span class='visually-hidden'>Partner name</span>
      <img  src='' alt=''>
    </li>
    <li class='partners__logo'>
      <span class='visually-hidden'>Partner name</span>
      <img  src='' alt=''>
    </li>
    <li class='partners__logo'>
      <span class='visually-hidden'>Partner name</span>
      <img  src='' alt=''>
    </li>
    <li class='partners__logo'>
      <span class='visually-hidden'>Partner name</span>
      <img  src='' alt=''>
    </li>
    <li class='partners__logo'>
      <span class='visually-hidden'>Partner name</span>
      <img  src='' alt=''>
    </li>
    <li class='partners__logo'>
      <span class='visually-hidden'>Partner name</span>
      <img  src='' alt=''>
    </li>
    <li class='partners__logo'>
      <span class='visually-hidden'>Partner name</span>
      <img  src='' alt=''>
    </li>
  </ul>
</section>
