<section class='partners'>
  <div class='partners__wrapper'>
    <h2 class='partners__header'>Нам доверяют</h2>
    <div class='partners__lead'>
      <p>
        Мы обеспечиваем надежную защиту персональных и корпоративных данных, находим оптимальные IT-решения&nbsp;с учетом особенностей бизнес-сферы клиента и обеспечиваем постоянную поддержку.
      </p>
      <p>
        Количество наших партнеров постоянно растет — это говорит о высоком уровне ответственности специалистов T. Hunter&nbsp; и об оперативном решении технических вопросов.
      </p>
    </div>
    <ul class='partners__info'>
      <li class='partners__counts'>
        <span class='partners__count'>15</span>
        <p class='partners__text'>
          Предотвратили утечек информации
        </p>
      </li>
      <li class='partners__counts'>
        <span class='partners__count'>24</span>
        <p class='partners__text'>
          Разработали авторских подходов и методик
        </p>
      </li>
      <li class='partners__counts'>
        <span class='partners__count'>21</span>
        <p class='partners__text'>
          Протестировали корпоративных сетей
        </p>
      </li>
      <li class='partners__counts'>
        <span class='partners__count'>8</span>
        <p class='partners__text'>
          Провели обучающих мероприятий
        </p>
      </li>
    </ul>
  </div>
  <ul class='partners__logos'>
    <li class='partners__logo'>
      <span class='visually-hidden'>Partner name</span>
      <img  src='img/partners/1logo.png' alt='' width="120" height="60">
    </li>
    <li class='partners__logo'>
      <span class='visually-hidden'>Partner name</span>
      <img  src='img/partners/2logo.png' alt='' width="120" height="60">
    </li>
    <li class='partners__logo'>
      <span class='visually-hidden'>Partner name</span>
      <img  src='img/partners/3logo.png' alt='' width="120" height="60">
    </li>
    <li class='partners__logo'>
      <span class='visually-hidden'>Partner name</span>
      <img  src='img/partners/4logo.png' alt='' width="120" height="60">
    </li>
    <li class='partners__logo'>
      <span class='visually-hidden'>Partner name</span>
      <img  src='img/partners/5logo.png' alt='' width="120" height="60">
    </li>
    <li class='partners__logo'>
      <span class='visually-hidden'>Partner name</span>
      <img  src='img/partners/6logo.png' alt='' width="120" height="60">
    </li>
    <li class='partners__logo'>
      <span class='visually-hidden'>Partner name</span>
      <img  src='img/partners/7logo.png' alt='' width="120" height="60">
    </li>
    <li class='partners__logo'>
      <span class='visually-hidden'>Partner name</span>
      <img  src='img/partners/8logo.png' alt='' width="120" height="60">
    </li>
    <li class='partners__logo'>
      <span class='visually-hidden'>Partner name</span>
      <img  src='img/partners/9logo.png' alt='' width="120" height="60">
    </li>
    <li class='partners__logo'>
      <span class='visually-hidden'>Partner name</span>
      <img  src='img/partners/10logo.png' alt='' width="120" height="60">
    </li>
    <li class='partners__logo'>
      <span class='visually-hidden'>Partner name</span>
      <img  src='img/partners/11logo.png' alt='' width="120" height="60">
    </li>
    <li class='partners__logo'>
      <span class='visually-hidden'>Partner name</span>
      <img  src='img/partners/12logo.png' alt='' width="120" height="60">
    </li>
  </ul>
</section>
