<section class='slider--quote'>
  <h2 class='quote__header'>Отзывы клиентов</h2>
  <div class='quote__items'>
    <blockquote class="quote__item">
      <p class="quote__text">
        Специалисты T. Hunter гарантировали нашей компании полную конфиденциальность данных в корпоративных сетях, приложениях и системах —&nbsp; для меня это особенно важно.
      </p>
      <cite class="quote__author">
        <span class="quote__name">Николай Алистархов</span>
      </cite>
    </blockquote>
    <blockquote class="quote__item">
      <p class="quote__text">
        Специалисты T. Hunter гарантировали нашей компании полную конфиденциальность данных в корпоративных сетях, приложениях и системах —&nbsp;для меня это особенно важно.
      </p>
      <cite class="quote__author">
        <span class="quote__name">Николай Алистархов</span>
      </cite>
    </blockquote>
    <blockquote class="quote__item">
      <p class="quote__text">
        Специалисты T. Hunter гарантировали нашей компании полную конфиденциальность данных в корпоративных сетях, приложениях и системах —&nbsp; для меня это особенно важно.
      </p>
      <cite class="quote__author">
        <span class="quote__name">Николай Алистархов</span>
      </cite>
    </blockquote>
  </div>
</section>
