<section class='slider'>
  <div class='slider__items'>
    <div class='slider__item'>
      <div class='slider__wrapper'>
        <h2 class='slider__header'>Информационная безопасность</h2>
        <div class='slider__text'>
          Мы обеспечиваем информационную безопасность на всех уровнях&nbsp;и комплексно подходим к решению проблем, чтобы сделать ваш рабочий процесс комфортным.
        </div>
        <button class='btn slider__btn'>Пригласить специалиста</button>
        <div class='hole-wrapper'>
          <div class='hole'><span class='hole__blur'></span></div>
        </div>

        <div class='hole-wrapper--big'>
          <div class='hole'><span class='hole__blur'></span></div>
        </div>

        <div class='hole-wrapper--small'>
          <div class='hole'><span class='hole__blur'></span></div>
        </div>
      </div>

    </div>
    <div class='slider__item'>
      <h2 class='slider__header'>Информационная безопасность</h2>
      <p class='slider__text'>
        Мы обеспечиваем информационную безопасность на всех уровнях&nbsp; и комплексно подходим к решению проблем, чтобы сделать ваш рабочий процесс комфортным.
      </p>
      <button class='btn slider__btn'>Пригласить специалиста</button>
    </div>
    <div class='slider__item'>
      <h2 class='slider__header'>Информационная безопасность</h2>
      <p class='slider__text'>
        Мы обеспечиваем информационную безопасность на всех уровнях&nbsp;и комплексно подходим к решению проблем, чтобы сделать ваш рабочий процесс комфортным.
      </p>
      <button class='btn slider__btn'>Пригласить специалиста</button>
    </div>
  </div>
  <button class='section-control' id='section-control'></button>
</section>
