<section class='slider'>
  <div class='slider__items'>
    <div class='slider__item'>
      <h2 class='slider__header'>Информационная безопасность</h2>
      <div class='slider__text'>
        Мы обеспечиваем информационную безопасность на всех уровнях  и комплексно подходим к решению проблем, чтобы сделать ваш рабочий процесс комфортным.
      </div>
      <button class='btn slider__btn'>Пригласить специалиста</button>
    </div>
    <div class='slider__item visually-hidden'>
      <h2 class='slider__header'>Информационная безопасность</h2>
      <p class='slider__text'>
        Мы обеспечиваем информационную безопасность на всех уровнях  и комплексно подходим к решению проблем, чтобы сделать ваш рабочий процесс комфортным.
      </p>
      <button class='btn slider__btn'>Пригласить специалиста</button>
    </div>
    <div class='slider__item visually-hidden'>
      <h2 class='slider__header'>Информационная безопасность</h2>
      <p class='slider__text'>
        Мы обеспечиваем информационную безопасность на всех уровнях  и комплексно подходим к решению проблем, чтобы сделать ваш рабочий процесс комфортным.
      </p>
      <button class='btn slider__btn'>Пригласить специалиста</button>
    </div>
  </udiv>
</section>
