.slider--blog {
  padding-left: 30px;
  padding-right: 30px;
}

.blog__header {
  position: relative;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 25px;
  padding-left: 15px;
  font-size: 2.2rem;
  color: #291956;
  text-transform: uppercase;

  &::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 18px;
    background-color: #eb0029;
    top: 2px;
    left: 3px;
    transform: rotate(21deg);
  }
}
