.invitation {
  padding: 38px 30px 40px;
  background-color: #fafafa;
}

.invitation__header {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 1.3;
  color: @second-color;

  &::after {
    content: '';
    position: absolute;
    width: 50px;
    left: 1px;
    height: 2px;
    background-color: @hightlight;
    bottom: 0;
  }
}

.invitation__item {
  margin: 0;
  padding: 0;
  margin-top: 37px;

  input[type='text'],
  input[type='email'],
  input[type='tel'] {
    width: 100%;
    line-height: 1.2;
    border: none;
    border-bottom: 1px solid #D4D4D4;
    background-color: transparent;
    font-size: 1.28rem;
    padding-bottom: 16px;
  }

  input[type='checkbox'] {
    display: none;
  }

  .invitation__agree {
    display: block;
    position: relative;
    max-width: 230px;
    margin-top: -6px;
    padding-left: 22px;
    font-size: 0.9rem;
  }

  .invitation__agree::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 2px;
    border: 1px solid @hightlight;
    cursor: pointer;
  }

  input[type='checkbox']:checked+.invitation__agree::before {
    background-color: @hightlight;
  }

  input[type='checkbox']:checked+.invitation__agree::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 2px;
    width: 18px;
    height: 18px;
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
  }

  .invitation__link {
    color: #4D4D4D;
  }
}

.invitation__btn {
  margin-top: 28px;
  min-width: 260px;
  min-height: 40px;
  background-color: @hightlight;
  font-size: 1.3rem;

  &:hover,
  &:active {
    background-color: @hightlight--hover;
  }
}
