.top__wrapper{
  min-height: 570px;
  background-image: url('../img/slider-back.png');
  background-position: top center;
  background-size: cover;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 28px;
}
