.top__wrapper{
  min-height: 570px;
  background-image: url('../img/slider-back.png');
  background-position: top center;
  background-size: cover;
  position: relative;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 28px;
}

.section-control {
  position: absolute;
  bottom: -22px;
  left: 30px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  background-image: url('../img/shevron.svg');
  background-position: 50% 38%;
  background-repeat: no-repeat;
}

@media (min-width: @medium) {
  .top__wrapper {
    min-height: 750px;
    background-image: none;
    background-color: @second-color;
    background-image: url('../img/slider-back--medium.png');
  }
}
