.slider--quote {
  margin: 20px 30px 38px 30px;
  min-width: 260px;
  min-height: 440px;
  background-image: url('../img/quote-bg.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.quote__header {
  margin: 0;
  padding-top: 40px;
  padding-left: 30px;
  padding-bottom: 5px;
  color: #fff;
  font-size: 2.2rem;
  line-height: 1.2;
}

.quote__items {
  .slick-dots {
    padding-top: 53px;
    padding-left: 40px;
    align-items: flex-start;
    justify-content: flex-start;

    li{
      margin-right: 30px;
    }
  }
}

.quote__item {
  margin: 0;
  padding-left: 30px;
  padding-right: 20px;
  color: white;
  font-size: 1.4rem;
  line-height: 1.44;
  font-weight: normal;
}

.quote__text {
  margin-bottom: 10px;
  font-style: italic;
}

.quote__author {
  padding-left: 2px;
  font-size: 1.5rem;
  font-style: normal;
}
